body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("./morningcoffee.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-nav {
  flex-direction: row;
}

.navbar {
  padding: 1rem;
}
