body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("http://data.freehdw.com/morning-coffee-newspaper-hd-background.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  
}

.navbar-nav {
  flex-direction: row;
}

.navbar {
  padding: 1.0rem;
}


